<p class="pull-right">
    Sarah Van Wart<br />
    Qualitative Methods<br />
    Kris Guti&eacute;rrez<br />
    3/31/2015
</p>
<h2>40 Seconds of Classroom Talk: Interpreting a Map Representation</h2>
<table class="table data-container">
    <tr>
        <th></th>
        <th><a href="#/condensed">Video</a></th>
        <th>Elapsed Time</th>
        <th>Teacher Researcher</th>
        <th>Ms. I.</th>
        <th>Student Speaker</th>
        <th><a href="#/hands">Hands Raised</a></th>
        <th><a href="#/movement">Student Movement</a></th>
    </tr>
</table>