<a href="#/profile" class="nav-icon" >
    <span aria-hidden="true" class="fa fa-2x fa-gear"></span>
    <span class="nav-text">Profile</span>
</a>

<a href="#" class="nav-icon" >
    <span aria-hidden="true" class="fa fa-2x fa-institution"></span>
    <span class="nav-text">El Camino</span>
</a>

<a href="#" class="nav-icon nav-learn close_section" >
    <span aria-hidden="true" class="fa fa-2x fa-graduation-cap"></span>
    <span class="nav-text">Dream</span>
</a>

<a href="#" class="nav-icon" >
    <span aria-hidden="true" class="fa fa-2x fa-line-chart"></span>
    <span class="nav-text">Learn</span>
</a>

<a href="#" class="nav-icon" >
    <span aria-hidden="true" class="fa fa-2x fa-dollar"></span>
    <span class="nav-text">Plan</span>
</a>

<a href="#" class="nav-icon">
    <span aria-hidden="true" class="fa fa-2x fa-users"></span>
    <span class="nav-text">Succeed</span>
</a>
<span class="inner_nav"></span>
