<ul>
    <li>
        <a href="#test-prep" class="spoke_1">
        <span>Test Preparation</span>
        </a>        
    </li>
    
    <li>
        <a href="#essays" class="spoke_2">
        <span>Essays</span>
        </a>        
    </li>
    
    <li>
        <a href="#/scholarships" class="spoke_3">
        <span>Financial Aid and Scholarships</span>
        </a>        
    </li>
    
    <li>
        <a href="#/outside-school" class="spoke_4">
        <span>Extra-Curricular Activities & Volunteering</span>
        </a>        
    </li>
    
    <li>
        <a href="#/help" class="spoke_5">
        <span>Getting Help & Catching Up</span>
        </a>        
    </li>
    
    <li>
        <a href="#/a-g" class="spoke_6">
        <span>A-G Requirements</span>
        </a>        
    </li>
</ul>